/*====== ABOUT PAGE CSS STARTS ======*/

.about {
    padding: 70px 0;
    p.heading {
        font-size: 24px;
        font-weight: 500;
        font-family: $QS;
        color: #333;
        margin: 0 0 10px;
    }
    p,
    li {
        color: #888;
        line-height: 26px;
        margin-bottom: 0;
        a {
            color: $green;
        }
    }
    p.text-uppercase {
        font-size: 16px;
        color: $green;
        margin: 30px 0 0;
    }
    div div {
        background-color: #fff;
        padding: 50px 60px 40px;
        overflow: hidden;
        margin: 0px 0 20px;
        border: 1px solid lighten($green, 45%);
    }
    b {
        margin-top: 15px;
        display: inline-block;
    }
}

/*====== ABOUT PAGE CSS ENDS ======*/
