/*====== BANNER CSS STARTS======*/

.jumbotron {
    background: url(../../images/slider.jpg);
    background-size: cover;
    color: #fff;
    margin-bottom: 0px;
    .type-wrap {
        display: inline-block;
        max-width: 510px;
        overflow: hidden;
    }

    .typed {
        font-size: 63px;
        font-weight: 100;
        line-height: 72px;
    }

    .typed-cursor {
        font-size: 55px;
        font-weight: 100;
    }
}

.slider_main.jumbotron {
    padding-top: 98px;
    padding-bottom: 98px;
    color: #484848;
    height: 430px;
}

.type,
.map {
    width: 100%;
    float: left;
}

.jumbotron {
    padding-top: 8em;
    padding-bottom: 8em;
}


/*====== BANNER CSS ENDS======*/
