/*====== ORDER DETAILS PAGE CSS STARTS ======*/

.order {
    max-width: 900px;
    margin: 70px auto;
    background-color: #fff;
    box-shadow: 0 0 13px #eee;
}

/*====== ORDER DETAILS PAGE CSS ENDS ======*/
